body {
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
    margin-top: 225px;
}


.footer-col h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fffba6;
    margin-bottom: 12px;
}

.social-icons {
    display: flex;
    gap: 13px;
    position: relative;
    height: 55px;

}

.social-icons .icon-sz {
    position: absolute;
    transition: all 0.3s ease;

}


.social-icons .insta {
    left: 0;
}

.social-icons .linked {
    left: 53px;
}

.social-icons .git {
    left: 106px;
}

.social-icons .tele {
    left: 159px;
}

.social-icons .gift {
    left: 212px;
}


.social-icons:has(.icon-sz:hover) .icon-sz:not(:hover) {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
}


.social-icons .icon-sz:hover {
    transform: scale(1.15);
    z-index: 10;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background: #000000;
    border-radius: 35%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: relative;
    text-decoration: none;
}

.icon-sz a {
    color: #706666;
}


.tooltip {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 10;
}


.tooltip::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}


.social-icons a:hover .tooltip {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

/* INSTAGRAM  */
.insta a:hover {
    background: linear-gradient(-120deg, #FC09CC, #FC09CC, #FE0C74, #FE0C74, #FD4716, #FD7B0B);
    color: hsl(0, 83%, 95%);
    transform: translateY(-5px);
}

.insta a:hover .tooltip {
    background: linear-gradient(-120deg, #FC09CC, #FE0C74, #FD4716);
    color: #fff;
}

.insta a:hover .tooltip::before {
    border-right-color: #FE0C74;
}